<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">

  <!-- summernote -->
  <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
  <link rel="stylesheet" href="style2.css">
  <style>
    .dt-buttons .btn {
  margin-right: 10px;
  background-color: rgba(5, 5, 85, 0.7);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(94, 103, 146, 0.3);

}

  </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand  navbar-light" >
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-light" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <!-- <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link text-light">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li> -->
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <!-- <button type="button" class="btn dropdown-toggle dropdown-icon text-light" data-toggle="dropdown" aria-expanded="false">
       Assessor <i class="fas fa-user"></i>
      </button> -->
    
      <%- include('../partials/profile.ejs') %>

    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link" 
    style="background-color: #02034f95;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
    ">
      <img src="/images/Seal_of_Datu_Paglas.png" alt="AdminLTE Logo" class="brand-image img-circle " style="opacity: .8">
      <small class="brand-text font-weight-bold"> DATU PAGLAS</small> 
    </a> 

    <!-- Sidebar -->
    <div class="sidebar" style="background-color: #02034f95;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
    ">



      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item ">
                <a href="/Dashboard" class="nav-link ">
                  <i class="nav-icon fas fa-home"></i>
                  <p>
                    Dashboard   
                  </p>
                </a>
               
              <li class="nav-item">
                <a href="/Profile" class="nav-link ">
                  <i class="nav-icon fa-solid fa-users-gear "></i>
                  <p>
                    Profile
         
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/property" class="nav-link">
                  <i class="nav-icon fa-solid fa-building-wheat"></i>
                  <p>
                    Property
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/documents" class="nav-link">
                  <i class="nav-icon fa-regular fa-folder"></i>
                  <p>
                    Documents
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/paymentHistoryForTaxPayer" class="nav-link active">
                  <i class="nav-icon fa-solid fa-file-invoice-dollar"></i>
                  <p>
                    Payment History
                  </p>
                </a>
              </li>
        
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
   <!-- preloader -->
   <%- include('../partials/preloader.ejs') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Payment History</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li> -->
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

 
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
               <div class="d-flex justify-content-end">
                <!-- <button type="button" class="btn text-primary  mb-3 " data-toggle="modal" data-target="#addModal" style="background:transparent; border: 1px solid blue;">
                  Register              
                  <i class="m-1 fa-solid fa-address-card"></i>
                 </button> -->
               </div>
                <div class="card">
                  <!-- <div class=" text-center h3 p-3">LIST OF TAX PAYERS</div> -->
                  <div class="card-body">
                    <table id="userManagementTable" class="table table-bordered ">
                        <thead>
      
                          
                          <tr>
                            <th>Full name</th>              
                            <th>Tax amout paid</th>
                            <th>Cash tendered</th>
                            <th>Change</th>
                            <th>Payment date</th>
                            <th>Payment Status</th>
                          </tr>
                        </thead>
                        
                        <tbody>
                            <% if(locals.paymentHistory) { %>
                            <tr>
                              <td><%= paymentHistory.firstname%> <%= paymentHistory.lastname%></td>
                              <td><%= paymentHistory.total_tax_amount%></td>
                              <td><%= paymentHistory.cash_tendered%></td>         
                              <td><%= paymentHistory.change%></td>
                              <td><%= new Date(paymentHistory.payment_date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></td>               
                              <td><p class="text-success"><%= paymentHistory.status %></p></td>
                          </tr>
                          <% } %>                       
                        </tbody>
                      </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->

  

  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script> 
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script> 
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>

<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- sweet alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"> </script>


<script>
  $(function () {
    $("#userManagementTable").DataTable({
       "lengthChange": true,
       "autoWidth": false,  
       "searching": true,
       "ordering": false,
      });
    });

</script>

<!-- AdminLTE App -->
<script src="dist/js/adminlte.js" defer></script>

<script src="/preloader.js"></script>

</body>
</html>
