<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vaccination Schedules</title>

  <link rel="icon" href="/dist/img/LOGO.png" sizes="16x16" type="image/png">
  <link rel="icon" href="/dist/img/LOGO.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/dist/img/LOGO.png" sizes="48x48" type="image/png">
  <link rel="icon" href="/dist/img/LOGO.png" sizes="64x64" type="image/png">
  <link rel="icon" href="/dist/img/LOGO.png" sizes="192x192" type="image/png">
  <link rel="icon" href="/dist/img/LOGO.png" sizes="512x512" type="image/png">

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
   <!-- Bootstrap Icons CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <!-- Toastr -->
  <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style2.css">

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-color:#d2d2d6;  ">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-dark" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="https://chatgpt.com/" class="nav-link text-primary"></a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
        </a>
      </li>
    </ul>

    <%- include('../partials/profile.ejs') %>
   
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4 sticky" style="background-color: #e9ecef;  ">
    <!-- Brand Logo -->
    <%- include('../partials/LOGO.ejs') %>

    <!-- Sidebar -->
    <div class="sidebar">


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/userDashboard" class="nav-link">
              <i class="nav-icon bi bi-houses-fill"></i>
              <p>
                Dashboard
              </p>
            </a>
            <li class="nav-item ">
              <a href="/patients" class="nav-link ">
                <i class="nav-icon bi bi-person-fill-check"></i>
  
                <p>
                 Registered Patients</p>
              </a>
              </li>
            <li class="nav-item ">
              <a href="/pendingPatients" class="nav-link ">
                <i class="nav-icon bi bi-person-fill-gear"></i>
                <p>
                  Pending Registration</p>
              </a>
              </li>
              <li class="nav-item ">
                <a href="/eligiblePopulation" class="nav-link">
                  <i class="nav-icon bi bi-people-fill"></i>
                  <p>
                    Eligible Population</p>
                </a>
                </li>
              <li class="nav-item ">
                <a href="/vaccinationSchedules" class="nav-link active" style="background-color: #3d9bc024;">
                  <i class="nav-icon bi bi-calendar-week-fill"></i>
                  <p>
                    Vaccination Today</p>
                </a>
                </li>
                <li class="nav-item ">
                  <a href="/bhwReports" class="nav-link">
                    <i class="nav-icon bi bi-database-fill-gear"></i>
                    <p>
                      Monthly Reports</p>
                  </a> 
                </li>
                <li class="nav-item ">
                  <a href="/historicalReports" class="nav-link " >
                    <i class="nav-icon bi bi-database-fill-gear"></i>
                    <p>
                      Historical Reports</p>
                  </a>
                  </li>
  
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <% if (locals.vaccinationSchedules) { %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-lg-12 col-sm-12">
            <h1 class="mb-5 shine">CHILD IMMUNIZATION RECORD</h1>
            <% if (patientFullName || parentFullname || patientBirthday) { %>
        
            
       <div class="row d-flex justify-content-center">
        <div class="col-md-5">

          <div class="card card-widget widget-user">
          
          <div class="widget-user-header bg-info">
          <h3 class="widget-user-username"><%= patientFullName %></h3>
          <h5 class="widget-user-desc">Patient</h5>
          </div>
          <div class="widget-user-image">
          <img class="img-circle elevation-2" src="../dist/img/baby.png" alt="User Avatar">
          </div>
          <div class="card-footer">
          <div class="row">
            <h5 class="mx-auto"> Date of birth : <span style="font-weight: 500; font-family:Montserrat ; text-decoration: underline;"><%= new Date(patientBirthday).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></span></h5>
          </div>
          <div class="row">
            <h5 class="mx-auto"> Parent : <span style="font-weight: 500; font-family:Montserrat ; text-decoration: underline;"><%= parentFullname %></span></h5>
          </div>
          </div>
          
          </div>
          
       
          </div>
          
        
         
       </div>
              <% } %>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table id="vaccinationTable" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th class="d-none"></th>
                        <th class="d-none">Full name</th>
                        <th>Vaccine name</th>
                        <th>Schedule date</th>
                        <th>Status</th>
                        <th>Place of Vaccination</th>
                      </tr>
                    </thead>
                    <tbody>
                    
                        <% vaccinationSchedules.forEach(function(vaccinationSchedule) { %>
                          <tr>
                            <td class="d-none vaccinationTdid"><%= vaccinationSchedule.schedule_id %></td>
                            
                            <td class="vaccinationTdShowtoMobile"><%= vaccinationSchedule.vaccine_name %></td>
                            <!-- Schedule date with icon aligned on both sides -->
                            <td class="vaccinationTdShowtoMobile">
                              
                                <span>
                                  <%= new Date(vaccinationSchedule.schedule_date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                                </span>
                                <button type="button" class="btn btn-sm text-light editSchedule" aria-label="EditSchedule">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pencil-square me-1" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                  </svg>
                                </button>
                            
                            </td>
                            <td class=" d-none">/td>
                  
                            <!-- Status with text and icon aligned on both sides -->
                            <td class="vaccinationTdShowtoMobile">
                              <span style="width: 100%; display: block; overflow: hidden;">
                                <span style="float: left;">
                                  <% if (vaccinationSchedule.status === 'Taken') { %>
                                    <p class="text-lime mb-0" style="display: inline;">Taken</p>
                                  <% } else { %>
                                    <p class="text-danger mb-0" style="display: inline;">Not Taken</p>
                                  <% } %>
                                </span>
                                <button type="button" class="btn btn-sm text-light editStatus" aria-label="EditVaccination" style="float: right;">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#00ff00" class="bi bi-pencil-square me-1" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                  </svg>
                                </button>
                              </span>
                            </td>
  
                            <td class="vaccinationPlace"> <%= vaccinationSchedule.place_of_vaccination %></td>
                          </tr>
                        <% }) %>
                     
                      <% } %>
                    </tbody>
                  </table>
                </div>
                
                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>


      <!-- Update Vaccination Status Modal -->
<div class="modal fade" id="editVaccinationModal" tabindex="-1" aria-labelledby="editVaccinationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: #1dd3b0;">
        <h5 style="font-weight: bold;" id="editVaccinationModalLabel">Edit Vaccination Status</h5> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="dark" class="bi bi-pencil-fill" viewBox="0 0 16 16">
          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
        </svg>
      </div>
      <div class="modal-body text-dark">
        <form id="editVaccinationStatus" class="p-3">
          <input type="hidden" id="scheduleId" name="scheduleId">
         
          <div class="col-md-12">
            <div class="form-group">
              <label >Select Status</label>
              <select class="form-control select2 " name="status" id="status" style="width: 100%;" required>
                <option selected="selected disabled">Select Status</option>
                <option value="Taken">Taken</option>
                <option value="not taken">Not Taken</option>
              </select>
            </div>
        </div>

       
           
            
              <div class="col-md-12">
               <div class="form-group">
                <label >Place of  Vaccination (Optional)</label>
                <input type="text" class="form-control" placeholder="Input place of vaccination" id="placeOfVaccination" name="placeOfVaccination"> 
               </div>
              </div>
            
        

          
          <div class="d-flex justify-content-end m-2">
            <button type="submit" class="btn btn-success" style="margin-right:5px !important">Update</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

      <!-- Update Vaccination Schedule Modal -->
<div class="modal fade" id="editScheduleModal" tabindex="-1" aria-labelledby="editScheduleModalLabel" aria-hidden="true">
  <div class="modal-dialog col-lg-4"> 
    <div class="modal-content">
      <div class="modal-header" style="background: #1dd3b0;">
        <h5 style="font-weight: bold;" id="editScheduleModalLabel">Edit Vaccination Schedule</h5> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="dark" class="bi bi-pencil-fill" viewBox="0 0 16 16">
          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
        </svg>
       
      </div>
      <div class="modal-body text-dark">
        <form id="editVaccinationSchedule" class="p-3">
          <input type="hidden" id="scheduleId" name="scheduleId">
          <div class="col-md-12">
            <div class="form-group">
              <label >Current Schedule</label>
            <input type="text" id="vaccinationSchedule" class="form-control" name="vaccinationSchedule" placeholder=" ">
          </div>
          </div>
          <!-- Predefined Date Intervals -->
          <div class="col-md-12 mb-3">
            <label for="scheduleOptions" class=" mb-2">RESCHEDULE BY</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="scheduleOptions" value="1" id="nextWeek">
              <label class="form-check-label " for="nextWeek">
                Next Week
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="scheduleOptions" value="2" id="next2Weeks">
              <label class="form-check-label " for="next2Weeks">
                Next 2 Weeks
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="scheduleOptions" value="3" id="next3Weeks">
              <label class="form-check-label " for="next3Weeks">
                Next 3 Weeks
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="scheduleOptions" value="4" id="nextMonth">
              <label class="form-check-label " for="nextMonth">
                Next Month
              </label>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success "  style="margin-right:5px !important">Update</button>
            <button type="button" class="btn btn-danger " data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- Select2 -->
<script src="/plugins/select2/js/select2.full.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>


<!-- SweetAlert2 -->
<script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="/plugins/toastr/toastr.min.js"></script>
<!-- Page specific script -->

<script>
  $('#vaccinationTable').DataTable({
     "lengthChange": true,
     "autoWidth": false,
     "searching": true,
     "ordering": true,
     "pageLength": 25,  // Set default page length to 25
     "initComplete": function(settings, json) {
         console.log('DataTable initialization complete');
     }
 });
 </script>

<script>
  function logout() {
    Swal.fire({
        title: 'Are you sure?',
        text: "You will be logged out of your account.",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: "Yes",
        confirmButtonColor: "#12be12c1",
        cancelButtonText: "Cancel",
        cancelButtonColor: "#FF0000",
        customClass: {
        popup: 'glassmorphism-popup'
      }
    }).then((result) => {
        if (result.isConfirmed) {
            // Redirect to logout route or perform logout operation
            window.location.href = '/logout';  // Adjust the URL as needed
        }
    });
}

</script>

<script src="/script.js"></script>
</body>
</html>
