<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="style.css">





</head>
<body>
    
    <style>
        .approveButton, .deleteButton {
    border: none;
    position: relative;
    width: 100px;
    height: 36.5px;
    padding: 0;
    z-index: 2;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    -webkit-mask-size: 100%;
    cursor: pointer;
    background-color: transparent;
    transform: translateY(8px);
}

.approveButton:after, .deleteButton:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0 0 0 white;
    transition: all 2s ease;
}

.approveButton:hover:after, .deleteButton:hover:after {
    box-shadow: 0px -13px 56px 12px #ffffffa6;
}

.approveButton span, .deleteButton span {
    position: absolute;
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    left: 50%;
    top: 39%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: all 2s ease;
}

.approveButton:hover span, .deleteButton:hover span {
    color: white;
}

.approveButton:before, .deleteButton:before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
}

.approveButton:hover:before, .deleteButton:hover:before {
    width: 100%;
}

    
    </style>


   <!-- Main Container -->
   <div class="container-fluid p-0"> <!-- Remove padding to prevent any gaps -->
    <%- include("../partials/userNav.ejs") %>
  

      <div class="row m-0  flex-nowrap ">
          <!-- Sidebar Column -->
          <div class="col-12 col-md-3 col-lg-2 p-2 col-sm-3 bg-light collapse sidebar" id="sidebar" >
              <%- include("../partials/sidebar.ejs") %>
          </div>

        

          <!-- Main Content Column -->
          <div class="col-12 col-md-9 col-lg-10 p-0 main-content">
              <div class="container p-2">
                  <span class="date d-block p-2 mx-2 my-2 mb-3 d-flex justify-content-between text-md-start">
                      <p class="text-dark fw-lighter fs-4 d-flex flex-start myPatients">Pending Patients</p>
                      <p class="text-dark fw-lighter fs-4 d-flex flex-start myPatientsDate"><%= new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %> </p>
                  </span>

            <div class="col-lg-12 col-sm-12 mb-5">
                <div class="table-responsive p-2" style="border: 1px white; box-shadow: rgba(209, 209, 209, 0.156) 0 0 0 1px;">
                    <table class="table table-hover" id="patientsTable">
                        <thead>
                            <tr>
                                <th class="userPatientsId ">Id</th>
                                <th class="userPatientsNameTh ">First name</th>
                                <th class="userPatientsNameTh ps-0">Last name</th>
                                <th class="userPatientsProperties ps-0">Email</th>
                                <th class="userPatientsProperties ps-0">Contact</th>
                                <th class="userPatientsProperties ps-0">Birthday</th>
                                <th class="userPatientsProperties ps-0">Registration Date</th>
                                <th class="userPatientsProperties ps-0">Barangay</th>
                                <th class="userPatientsProperties ps-0">Gender</th>
                                <th class="userPatientsNameTh text-center ps-0">Action</th>
                            </tr>
                        </thead>
                        <tbody id="patientsTableBody">
                            <% if (locals.patients) { %>
                                <% patients.forEach(function(patient) { %>
                                    <tr>
                                        <td class="userPatientsId my-0"><%= patient.patient_id %> </td>      
                                        <td class="userPatientsNameTd my-0"><%= patient.first_name %> </td>
                                        <td class="userPatientsNameTd ps-0"><%= patient.last_name %></td>
                                        <td class="userPatientsData ps-0"><%= patient.email %></td>   
                                        <td class="userPatientsData ps-0"><%= patient.contact_number %></td>
                                        <td class="userPatientsData ps-0"><%= new Date(patient.birthday).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></td>
                                        <td class="userPatientsData ps-0"><%= new Date(patient.registration_date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></td>
                                        <td class="userPatientsData ps-0"><%= patient.barangay %></td>
                                        <td class="userPatientsData ps-0"><%= patient.gender %></td>
                                        <td class="tdAction">
                                          <!-- View Button -->
                                         <!-- Button Group (Visible on larger screens) -->
<!-- Button Group (Visible on larger screens) -->
<div class="d-none d-md-inline">

    <!-- approve Button -->
    <form id="approveStatus">
        <input type="hidden" name="patientId" id="patientId" value="">
        <input type="hidden" name="status" id="status" value="">
        <button class="btn btn-sm approveButton" type="submit" 
        data-patient-id="<%= patient.patient_id %>"
        data-status="Approved">
        <span class="text-success">Approve</span>
        </button>
    </form>

  <!-- Delete Button -->
  <form action="/patients/delete/<%= patient.patient_id %>" method="POST" style="display:inline;">
    <button type="submit" class="btn  btn-sm deleteButton" aria-label="Delete Patient">
     <span class="text-danger">Reject</span>
    </button>
  </form>

</div>

          </td>
       </tr>
                                   
                                <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="7" class="text-center text-light">No patients found</td>
                                </tr>
                            <% } %>
                        </tbody>
                        
                    </table>
                    
                    <nav aria-label="Page navigation" class="d-flex justify-content-center">
                      <ul class="pagination">
                        <li class="page-item <%= (currentPage === 1) ? 'disabled' : '' %>">
                          <a class="page-link text-light bg-success" href="?page=<%= currentPage - 1 %>">Previous</a>
                        </li>
                    
                        <% for (let i = 1; i <= totalPages; i++) { %>
                          <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                            <a class="page-link text-light bg-success" href="?page=<%= i %>"><%= i %></a>
                          </li>
                        <% } %>
                    
                        <li class="page-item <%= (currentPage === totalPages) ? 'disabled' : '' %>">
                          <a class="page-link text-light bg-success" href="?page=<%= currentPage + 1 %>">Next</a>
                        </li>
                      </ul>
                    </nav>
                    
                    
                </div>
            </div>
        
</div> <!-- End of Main Content Column -->
</div> <!-- End of Row -->
</div> <!-- End of Main Container -->


  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script src="/script.js"></script>
</body>
</html>