<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vaccination Schedules</title>

  <link rel="icon" href="/dist/img/LOGO.png" sizes="16x16" type="image/png">
  <link rel="icon" href="/dist/img/LOGO.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/dist/img/LOGO.png" sizes="48x48" type="image/png">
  <link rel="icon" href="/dist/img/LOGO.png" sizes="64x64" type="image/png">
  <link rel="icon" href="/dist/img/LOGO.png" sizes="192x192" type="image/png">
  <link rel="icon" href="/dist/img/LOGO.png" sizes="512x512" type="image/png">

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
   <!-- Bootstrap Icons CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
  <!-- Toastr -->
  <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
  <link rel="stylesheet" href="style2.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-color: #264653;  ">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-light" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/dashboard.html" class="nav-link text-light">Home</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <p class="text-light">HEALTH WORKER</p>
        </a>
      </li>
    </ul>

   
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #264653;  ">
    <!-- Brand Logo -->


    <%- include('../partials/LOGO.ejs') %>

    <!-- Sidebar -->
    <div class="sidebar">


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/userDashboard" class="nav-link">
              <i class="nav-icon bi bi-houses-fill"></i>
              <p>
                Dashboard
              </p>
            </a>
            <li class="nav-item ">
              <a href="/patients" class="nav-link ">
                <i class="nav-icon bi bi-person-fill-check"></i>
  
                <p>
                 Registered Patients</p>
              </a>
              </li>
            <li class="nav-item ">
              <a href="/pendingPatients" class="nav-link ">
                <i class="nav-icon bi bi-person-fill-gear"></i>
                <p>
                  Pending Patients</p>
              </a>
              </li>
              <li class="nav-item ">
                <a href="/vaccinationSchedules" class="nav-link active" style="background-color: #3d9bc024;">
                  <i class="nav-icon bi bi-calendar-week-fill"></i>
                  <p>
                    Vaccination Schedules</p>
                </a>
                </li>
                <li class="nav-item ">
                  <a href="/bhwReports" class="nav-link">
                    <i class="nav-icon bi bi-database-fill-gear"></i>
                    <p>
                      Monthly Reports</p>
                  </a>
                  </li>
                <li class="nav-item ">
                  <a href="/logout" class="nav-link">
                    <i class="nav-icon bi bi-box-arrow-right"></i>
                    <p>
                      logout</p>
                  </a>
                  </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Vaccination Schedule Today</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table id="vaccinationTable" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th class="d-none"></th>
                    <th>Full name</th>
                    <th>Schedule date</th>
                    <th>Vaccine name</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% if (locals.vaccinationSchedules) { %>
                      <% 
                      // Object to track the names that have been displayed
                      const displayedNames = {};
                      vaccinationSchedules.forEach(function(vaccinationSchedule, index) {
                          const fullName = vaccinationSchedule.full_name;
                          const isFirstOccurrence = !displayedNames[fullName]; // check if the Fullname has been seen before, 
                                                                               // if not, set the Fullname to true
              
                          // Set the name as displayed
                          displayedNames[fullName] = true;
                          
                          // Check if the next schedule is for a different patient
                          const nextSchedule = vaccinationSchedules[index + 1];
                          const isLastScheduleForPatient = !nextSchedule || nextSchedule.full_name !== fullName;
                      %>
                          <tr>
                              <td class=" d-none vaccinationTdid"><%= vaccinationSchedule.schedule_id %></td>
                              <td class="vaccinationTdShowtoMobile ">
                                <% if (isFirstOccurrence) { %>
                                    <form action="/allVaccinationStatus" method="POST" id="vaccinationStatusForm" class="d-inline-block ms-2">
                                        <button type="submit" class="btn btn-success btn-sm text-light editStatusButton" value="<%= vaccinationSchedule.patient_id %>" name="patientId">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                                            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM3.5 9.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                        </svg>
                                       
                                        </button>
                                    </form>
                                <% } %>
                                <%= isFirstOccurrence ? fullName : '' %> 
                          </td>

                          <td class="vaccinationTd"><%= new Date(vaccinationSchedule.schedule_date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                              <button type="button" class="btn btn-sm me-5 text-light editSchedule" aria-label="EditSchedule">
                                          <!-- Re-sched -->
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pencil-square me-1" viewBox="0 0 16 16">
                                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                  </svg>
                              </button> 
                          </td>
                          <td class="vaccinationTdShowtoMobile"><%= vaccinationSchedule.vaccine_name %></td>
                              <td class="vaccinationTd">
                                  <% if (vaccinationSchedule.status === 'Taken')  {%>
                                  <p class="text-light bg-success text-center mb-0"> Taken </p>
                                  <%} else { %>
                                  <p class="text-danger mb-0"> Not Taken</p>
                                  <% } %></td>
                              <td class="vaccinationTdShowtoMobile d-flex justify-content-center">
                                  <form id="vaccinationForm">
                                      <input type="hidden" name="patientId" id="patientId" value="">
                                      <input type="hidden" name="scheduleId" id="scheduleId" value="">
                                      <input type="hidden" name="status" id="status" value="">
                                      <input type="hidden" name="vaccineName" id="vaccineName" value="">
                                      <input type="hidden" name="dateAdministered" id="dateAdministered" value="">
                                      <input type="hidden" name="gender" id="gender" value="">
                                      <input type="hidden" name="barangay" id="barangay" value="">
                                      <button type="button" class="btn btn-success py-0 fw-bold done-button"
                                       data-patient-id="<%= vaccinationSchedule.patient_id %>"
                                       data-schedule-id="<%= vaccinationSchedule.schedule_id %>"
                                       data-vaccine-name="<%= vaccinationSchedule.vaccine_name %>"
                                       data-gender="<%= vaccinationSchedule.gender %>"
                                       data-barangay="<%= vaccinationSchedule.barangay %>"
                                       data-schedule-date="<%= new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>"
                                       data-status="Taken">
                                       
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-fill-check" viewBox="0 0 16 16">
                                              <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793z"/>
                                          </svg> Mark as Taken
                                      </button>
                                  </form>
                              </td>
                          </tr>
                          <% if (isLastScheduleForPatient) { %>
                              <tr>
                                  <td colspan="6" class="text-light text-center" style="height: 20px;"></td>
                              </tr>
                          <% } %>

                          
                      <% }) %>
                  <% } %>
                 </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>

      <!-- Update Vaccination Schedule Modal -->
<div class="modal fade" id="editScheduleModal" tabindex="-1" aria-labelledby="editScheduleModalLabel" aria-hidden="true">
  <div class="modal-dialog col-lg-4"> 
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-light" id="editScheduleModalLabel">Edit Vaccination Schedule</h5>
       
      </div>
      <div class="modal-body text-dark">
        <form id="editVaccinationSchedule" class="p-3">
          <input type="hidden" id="scheduleId" name="scheduleId">
          <div class="col-lg-12 col-sm-12 mb-3 input-container">
            <label class="text-light mb-1">Current Schedule Date</label>
            <input type="text" id="vaccinationSchedule" class="input mb-3" name="vaccinationSchedule" placeholder=" ">
          </div>
          <!-- Predefined Date Intervals -->
          <div class="mb-3">
            <label for="scheduleOptions" class="text-light mb-2">RESCHEDULE BY</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="scheduleOptions" value="1" id="nextWeek">
              <label class="form-check-label text-light" for="nextWeek">
                Next Week
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="scheduleOptions" value="2" id="next2Weeks">
              <label class="form-check-label text-light" for="next2Weeks">
                Next 2 Weeks
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="scheduleOptions" value="3" id="next3Weeks">
              <label class="form-check-label text-light" for="next3Weeks">
                Next 3 Weeks
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="scheduleOptions" value="4" id="nextMonth">
              <label class="form-check-label text-light" for="nextMonth">
                Next Month
              </label>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success "  style="margin-right:5px !important">Update</button>
            <button type="button" class="btn btn-danger " data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>

<!-- SweetAlert2 -->
<script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="/plugins/toastr/toastr.min.js"></script>

<!-- Page specific script -->
<script>
  $(function () {
    $("#vaccinationTable").DataTable({
      "responsive": true,
       "lengthChange": true,
       "autoWidth": false,
       "searching": true,
       "ordering": true,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#vaccinationTable_wrapper .col-md-6:eq(0)');
    })
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/script.js"></script>
</body>
</html>
